@font-face {
  /* ① ここにfont-familyで指定したい名前を書く*/
  font-family: "Futura-Bol";
  /* フォントが置かれているパスを書く */
  src: url("../fonts/Futura-Bol.ttf") format("truetype");
}

@font-face {
  /* ① ここにfont-familyで指定したい名前を書く*/
  font-family: "Futura-Boo";
  /* フォントが置かれているパスを書く */
  src: url("../fonts/Futura-Boo.ttf") format("truetype");
}

@font-face {
  /* ① ここにfont-familyで指定したい名前を書く*/
  font-family: "Futura-Obl";
  /* フォントが置かれているパスを書く */
  src: url("../fonts/Futura-BooObl.ttf") format("truetype");
}

body {
  font-family: "Futura-Boo", "Futura-Obl", "Futura-Bol", sans-serif;
  font-size: 15px;
  letter-spacing: 0.05em;
  color: #333;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

button {
  color: #fff;
  border-radius: 30%;
  background: #ff00d0;
  margin: 4px auto;
  text-align: center;
  display: block;
  width: 160px;
  padding: 2px;
  font-size: 16px;
}

button :hover {
  color: #445fd3;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.section {
  padding: 90px 0;
  /* opacity: 0; */
  transform: translateY(20px);
  transition: all 1s;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 40px;
}

/*--------------------------------
 見出し
---------------------------------*/
.title {
  font-size: 42px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #445fd3;
  font-family: "Futura-Bol";
}

.lead {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 30px;
}

/*--------------------------------
 メインビジュアル
---------------------------------*/

/* ナビゲーション */
.header {
  width: 100%;
}

.gnav-list {
  width: auto;
  display: flex;
  list-style: none;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 40px;
  padding-top: 32px;
}

.gnav-item:not(:last-child) {
  margin-right: 24px;
}

.gnav-item a {
  font-size: 24px;
  display: inline-block;
  font-family: "Futura-Boo";
  padding: 5px 0;
  transition: 0.5s;
  letter-spacing: 0.05em;
  color: #fff;
}
.gnav-item a:hover {
  color: #445fd3;
}

/* ここまでナビゲーション */

.mv {
  height: 100vh;
  position: relative;
  background-image: url(../img/background1.jpg);
  background-position: center center;
  background-size: cover;
}

.mv-container {
  padding: 0 40px;
  justify-content: center;
  text-align: center;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.subtitle {
  font-family: "Futura-Obl";
  font-size: 32px;
  line-height: 1;
  padding: 32px;
  letter-spacing: 0.05em;
  color: #fff;
}

/*--------------------------------
 Introduction
---------------------------------*/
.int-list {
  padding: 16px;
  gap: 8px;
}

.int-item {
  width: 100%;
  font-family: nomal;
  color: #333;
  display: flex;
  gap: 8px;
  padding: 8px;
}

.int-img {
  width: 50%;
}

.int-img {
  width: 440px;
}

.int-info {
  margin-top: 5px;
  width: 50%;
}

.int-text {
  font-size: 16px;
  margin-top: 8px;
  padding: 24px;
}

.button-int01 {
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  background: #445fd3;
  margin: 6px auto;
  text-align: center;
  display: block;
  width: 144px;
  padding: 6px;
  font-size: 16px;
  transition: 0.3s;
}

.button-int02 {
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  background: #f4c142;
  margin: 4px auto;
  text-align: center;
  display: block;
  width: 144px;
  padding: 6px;
  font-size: 16px;
  transition: 0.3s;
}

.button-int01:hover {
  box-shadow: 0px 0px 8px rgb(0 0 0 /50%);
}

.button-int02:hover {
  box-shadow: 0px 0px 8px rgb(0 0 0 /50%);
}

.reverse {
  flex-direction: row-reverse;
}

/*--------------------------------
 Cources
---------------------------------*/

.cources {
  background-color: #d9e5f7;
  position: relative;
  width: 100vw;
  z-index: 1;
}

#cources-js {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cources-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -50px;
}

.cources-item {
  width: 200px;
  padding: 0px, 16px, 16px, 16px;
  margin: 8px;
  text-align: center;
  background-color: #fff;
  border-radius: 16px;
}

.cources-img {
  margin: 16px;
  padding: 32px;
}

.cources-img img {
  height: 80px;
  width: auto;
}

.cources-name {
  font-family: nomal;
  margin-bottom: 10px;
}

.cources01-button {
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  background: #445fd3;
  margin: 6px auto;
  text-align: center;
  display: block;
  width: 144px;
  padding: 12px;
  font-size: 12px;
  margin-bottom: 12px;
}

.cources02-button {
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  background: #57a7da;
  margin: 6px auto;
  text-align: center;
  display: block;
  width: 144px;
  padding: 12px;
  font-size: 12px;
  margin-bottom: 12px;
}

.cources03-button {
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  background: #333333;
  margin: 6px auto;
  text-align: center;
  display: block;
  width: 144px;
  padding: 12px;
  font-size: 12px;
  margin-bottom: 12px;
}

.cources04-button {
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  background: #ea5f59;
  margin: 6px auto;
  text-align: center;
  display: block;
  width: 144px;
  padding: 12px;
  font-size: 12px;
  margin-bottom: 12px;
}

.cources05-button {
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  background: #f7d749;
  margin: 6px auto;
  text-align: center;
  display: block;
  width: 144px;
  padding: 12px;
  font-size: 12px;
  margin-bottom: 12px;
}

.cources06-button {
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  background: #eb7c47;
  margin: 6px auto;
  text-align: center;
  display: block;
  width: 144px;
  padding: 12px;
  font-size: 12px;
  margin-bottom: 12px;
}

.cources07-button {
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  background: #8bccdb;
  margin: 6px auto;
  text-align: center;
  display: block;
  width: 144px;
  padding: 12px;
  font-size: 12px;
  margin-bottom: 12px;
}

.cources01-button:hover {
  box-shadow: 0px 0px 8px rgb(0 0 0 /50%);
}

.cources02-button:hover {
  box-shadow: 0px 0px 8px rgb(0 0 0 /50%);
}

.cources03-button:hover {
  box-shadow: 0px 0px 8px rgb(0 0 0 /50%);
}

.cources04-button:hover {
  box-shadow: 0px 0px 8px rgb(0 0 0 /50%);
}

.cources05-button:hover {
  box-shadow: 0px 0px 8px rgb(0 0 0 /50%);
}

.cources06-button:hover {
  box-shadow: 0px 0px 8px rgb(0 0 0 /50%);
}

.cources07-button:hover {
  box-shadow: 0px 0px 8px rgb(0 0 0 /50%);
}
/*--------------------------------
 images
---------------------------------*/

.slider {
  width: 100%;
  color: #333;
}

/*--------------------------------
 access
---------------------------------*/
.access {
  text-align: center;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  padding: 30px;
}

.copyright {
  font-size: 16px;
  text-align: center;
  color: #445fd3;
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

  /* 見出し */
  .title {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .lead {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
  }

  /* レイアウト */
  .wrapper {
    padding-top: 57px;
  }

  .section {
    padding: 60px 0;
  }

  .container {
    padding: 0 20px;
  }

  /* ヘッダー */
  .header .container {
    padding: 15px;
  }
  .gnav-list {
    display: none;
  }

  /*  メインビジュアル */
  .mv {
    height: 100vh;
  }

  .mv-container {
    padding: 0 20px;
  }

  .h1 {
    width: 20vw;
  }
  .subtitle {
    font-size: 24px;
  }

  .mv-text {
    font-size: 14px;
    line-height: 1.7;
  }

  /* introdction */

  .int-item {
    display: block;
  }

  .int-info {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .subtitle {
    font-size: 16px;
  }

  /*  cources */
  .cources-item {
    width: 120px;
  }
}
